%div.map
  %iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15645205.76503679!2d-82.60409951787577!3d16.79505843231604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1413604808474" width="100%" height="100%" frameborder="0" style="border:0")

%div.content
  %section.wikipedia
    %header.powered-by Wikipedia
    %h1 São Paulo
    %p Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Non equidem invideo, miror magis posuere velit aliquet. Tityre, tu patulae recubans sub tegmine fagi  dolor. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Cum sociis natoque penatibus et magnis dis parturient.
  %section.flickr
    %header.powered-by Flickr
    %ul.photos
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
      %li= image_tag "thumb.jpg"
