%div.map

%div.content
  = form_tag root_path, method: :get do
    = text_field_tag :place
    = submit_tag

  %section.wikipedia
    %header.powered-by Wikipedia
    - if @page
      %h1= @page.title
      %p= format_result(@content)
  %section.flickr
    %header.powered-by Flickr
    - if @photos
      %ul.photos
        - @photos.each do |photo_url|
          %li= image_tag photo_url
